include ../node_modules/pug-bootstrap/_bootstrap.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/app/actions.js")
  body
    block content
